# Porta de execução do servidor backend NestJS (Padrão: 3333)
PORT=3333

# URL de conexão com o banco de dados PostgreSQL rodando via Docker Compose (porta local: 5433)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5433/project_manager?schema=public"

# Chave de API do Google Gemini (Chave temporária de avaliação ativa criada pelo candidato)
GEMINI_API_KEY=""
